.custom-scroll::-webkit-scrollbar {
    width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
    border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 4px;
    transition: background-color 0.2s;
}

/* Светлая тема */
.custom-scroll {
    scrollbar-color: #888 #f0f0f0;
}

.custom-scroll::-webkit-scrollbar-track {
    background: #f0f0f0;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #888;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Тёмная тема */
.dark .custom-scroll {
    scrollbar-color: #aaa #2a2a2a;
}

.dark .custom-scroll::-webkit-scrollbar-track {
    background: #2a2a2a;
}

.dark .custom-scroll::-webkit-scrollbar-thumb {
    background-color: #aaa;
}

.dark .custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
}