services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile.prod
    ports:
      - "5000:5000"

  client:
    build:
      context: ./client
      dockerfile: Dockerfile.prod
    ports:
      - "80:80"
